{% include header.html %}
<div id="about">
<h1>About Us</h1>
<p>Lyar originates from the game "two truths and one lie".<br>
This consists of people taking turns making three statements, one of which was a lie.<br>
The other players would then vote on which was the lie.</p>

<p>Lyar is an online version of this game, where users can post
two truths and a lie (not necessarily in that order!) and try to detect other
people&apos;s lies.</p>

<p>On your home page, you should see a feed of questions that
other users have posted. You may read through these and 
select the statement you believe to be the lie, then use the submit button
to lock in your answer. The statistics for this question will then be displayed.<br>
You can add your own posts with the &apos;+New question&apos; button. When
posting a question: write three statements, two of which are true
and one of which is a lie and select that one that's a lie.<br>
The first statement is marked by default.</p>
		<div id="bg"></div>
		<div id="img"></div>
</div>
{% include footer.html %}