<html>
<head>
        <title>Lyar</title>
        <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/css/960pxgrid.css">
        <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
       <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100' rel='stylesheet' type='text/css'>
        <meta charset="utf-8">
</head>
<body>
    <header>
        <div class="headerBg">
            <div class="container_12">
                <a href="/" class="grid_4 alpha"><h1 class="grid_4 alpha">Lyar <i class="fa fa-comment-o"></i></h1></a>
                <nav class="grid_8 omega">
                    <uL>
                        {% if current_user is not None %}
                        <li><a href="/question/create"><i class="fa fa-plus-circle"> </i>Post</a></li>
                        {% end if %}
                        <li><a href="/stats"><i class="fa fa-pie-chart"></i> Stats</a></li>
    					<li><a href="/scoreboard"><i class="fa fa-list-ol"></i> Scoreboard</a></li>
                        <li><a href="/about"><i class="fa fa-info-circle"></i> About</a></li>
                        {% if current_user is not None %}
                        <li>{{ current_user.username.title() }} <i class="fa fa-caret-down"></i>
                             <ul>
                                <li><a href="/profile/{{ current_user.username }}"><i class="fa fa-user"></i> Profile</a></li>
                                <li><a href="/logout"><i class="fa fa-sign-out"></i> Log out</a></li>
                            </ul>
                        </li>
                        {% else %}
                            <li>Account <i class="fa fa-caret-down"></i>
                                <ul>
                                    <li><a href="/login"><i class="fa fa-sign-in"></i> Login</a></li>
                                    <li><a href="/register"><i class="fa fa-pencil-square-o"></i> Register</a></li>
                                </ul>
                            </li>
                        {% end if %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
	<main class="container_12">
